<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>192863267646-6c6qpiul74c8dvj4nquc3h5gt6qfbe2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192863267646-6c6qpiul74c8dvj4nquc3h5gt6qfbe2c</string>
	<key>API_KEY</key>
	<string>AIzaSyDlrXD8bJTEECGgy8ymPV94pxCgh1UWDfI</string>
	<key>GCM_SENDER_ID</key>
	<string>192863267646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Project.SwApp</string>
	<key>PROJECT_ID</key>
	<string>swapp-c5c68</string>
	<key>STORAGE_BUCKET</key>
	<string>swapp-c5c68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:192863267646:ios:e051bcbb225c8c0e</string>
	<key>DATABASE_URL</key>
	<string>https://swapp-c5c68.firebaseio.com</string>
</dict>
</plist>
